<h3>ยินดีต้อนรับตัวแทน Marukyo</h3><br/>
เราได้ทำการยืนยันข้อมูลของท่านเพื่อใช้งาน Mobile Application<br/>
โดยท่านสามารถนำข้อมูลไปใช้งานผ่าน Mobile Application ดังต่อไปนี้
<ul>
  <li>Username: <%=username%></li>
  <li>Password: <%=password%></li>
</ul>
<br/>
<br/>
<!--<font color="red"><b>หมายเหตุ : </b>การตั้งรหัสผ่าน สามารถทำได้เพียงครั้งเดียว หลังจากนั้นลิงก์จะหมดอายุ</font>-->
<br/>
<br/>
ขอบคุณค่ะ
<br/>
<b>Marukyo</b>
