<h2>ขอบคุณสำหรับการสมัครเป็นตัวแทนกับมารูเกียว</h2><br/>
<h3>ระบบได้ทำการยืนยันการลงทะเบียนของท่านเรียบร้อยแล้ว</h3><br/>
ท่านสามารถเลือกชมสินค้าและทำการสั่งซื้อผ่านมือถือหรืออุปกรณ์ที่เชื่อมต่อได้ของท่าน <br/>
เพียงล็อกอินเข้าไปที่ Application "MARUKYO"<br/>
ด้วย USERNAME และ PASSWORD ด้านล่างนี้
<ul>
  <li>USERNAME: <%=username%></li>
  <li>PASSWORD: <%=password%></li>
</ul>
<br/>
หากท่านต้องการข้อมูลเพิ่มเติมหรือมีข้อสงสัย กรุณาติดต่อเจ้าหน้าที่
<br/>
<!--<font color="red"><b>หมายเหตุ : </b>การตั้งรหัสผ่าน สามารถทำได้เพียงครั้งเดียว หลังจากนั้นลิงก์จะหมดอายุ</font>-->
<br/>
<br/>
<b>บริษัท มารูเกียว (ไทยแลนด์) จำกัด</b>
<br/>
<hr/>
<br/>
<!--<h2>Dear ...,</h2>-->

<h2>Thank you very much for your interest in becoming a repersentative of Marukyo (Thailand).</h2><br/>

<h3>This is an auto reply email to comfirm that you have already completed the registration process.</h3><br/>

You can now search and make an order though our Mobile Application, Marukyo, on your smartphone <br/>
or other devices by logging into the App with your Username and Password below.

<ul>
  <li>USERNAME: <%=username%></li>
  <li>PASSWORD: <%=password%></li>
</ul>
<br/>


If you have any questions about the show or we can be of any further assistance, please do not hesitate to contact us.
<br/>

We look forward to working with you to help you have a successful selling!
<br/>

Once again, thank you so much for your interest in becoming a repersentative of Marukyo (Thailand).
<br/>
<br/>



Sincerely,
<br/>
<br/>

Marukyo (Thailand) Co., Ltd.
