html{ height:100%; }
.heigher {
    height: 150%
}
body{ min-height:100%; padding:0; margin:0; position:relative; }

/*body::after{ content:''; display:block; height:100px; }*/

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
}

.head-menu.shrink {
    height: 100px;
    line-height:80px;

}

/* FOR DEMO ONLY */
/*body{ font:bold 1.2em/2.5 arial; text-align:center; }*/
/*label{ cursor:pointer; display:inline-block; transition:1s ease; }*/
/*:checked ~ label{ margin-bottom:1400px; }*/

/*article{ width:40%; margin:0 auto; color:#444; }*/
/*header{ background:#C7DD8B; height:50px; }*/
/*footer{ background:#DB8A8A; }*/
.hide {
    display: none;
}
.fix{
    position: fixed;
}
.add-margin-top{
    margin-top: 200px !important;
}

.buildings-menu {
    background-color: #6a9bd5;
    padding: 0px;
    margin:0px 2px 0px 0px;
    width: 160px; height: 35px;
    cursor: pointer;
}

.buildings-menu:hover {
    background-color: #4079bc;
}
.buildings-menu:hover .subscriberMenu {
    display: block;
}
.zero-padding {
    padding: 0px;
}

.dx-datagrid-headers {
    background-color:  #4079bc;
    color: #F5F5F5;
}

.dx-datagrid-rowsview .dx-row:nth-child(odd) {
    background-color: #f1f1f1;
}

.dx-datagrid-rowsview .dx-row:nth-child(even) {
    background-color: #fefefe;
}

.dx-datagrid-rowsview .dx-row {
    background-color: #f5f5f5;
    color: #666;
}