@mixin transition ($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    transition: $val;
}

@mixin transform ($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    transform: $val;
}

@mixin gutter($name, $att) {
    @for $i from 1 through 20 {
        .#{$name}-#{$i * 5} {
            #{$att}: $i * 5px !important;
        }
    }
}

@mixin tlrb {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin border-radius {
    border-radius: 50px 50px 50px 50px !important;
}

@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: $size * 0.1rem;
}

@mixin link($link, $hover) {
    a {
        color: $link;
        &:hover {
            color: $hover;
        }
    }
}

@mixin circle($size) {
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50% !important;
}

@mixin button($name, $color, $background) {
    .btn-#{$name} {
        background-color: $background;
        color: $color;
        border: 1px solid darken($background, 10%);;
        text-transform: capitalize;
        padding: 6px 12px;
        @include font-size(14);
        border-radius: 0px;
        &:hover,
        &:focus,
        &:active,
        &:active:hover {
            background-color: darken($background, 8%);
            border-color: darken($background, 8%);
            color: $color;
            outline: none;
        }
        &.btn-radius {
            @include border-radius;
        }
        &.btn-outline {
            background-color: transparent;
            border-color: $background;
            &:hover,
            &:focus,
            &:active {
                background-color: darken($background, 8%);
                color: $color;
            }
        }
        &.btn-sm {
            padding: 4px 15px;
        }
    }
}
