$primary: #4079BC;
$success: #9DD58C;
$info: #4383D0;
$warning: #EFBB59;
$danger: #C76158;
$default: #FFFFFF;
$main: #1A1A1A;
$navbg: $default;
$navsize: 55px;
$navfontsize: 16;
$nav-box-color: #CEDFF3;
$body-bg: #DCE9F5;
$main-color: $main;
$margin: 10px;

// width + hegiht facility-modal
$width-facility: 562px;
$height-facility: 350px;

// main - widht + hegiht
$width-main: 960px;
