@import "_mixin";
@import "_template";
body {
  @include font-size(14);
  color: $main;
  margin: 0;
  background-color: #DDD;
  height: 100%;
  position: relative;
  &.black {
    //background-color: #313C46;
  }
  &.white {
    background-color: $body-bg;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $body-bg;
  }
}

.page-wrapper {
  width: calc(100vw - 5px);
  min-height: calc(100% - 50px);
  //overflow-x: hidden;
  //overflow-y: scroll;
  position: relative;
}

$buttons: (primary, #FFF, $primary),
  (success, #FFF, $success),
  (info, #FFF, $info),
  (warning, #FFF, $warning),
  (danger, #FFF, $danger),
  (default, $main, $default);
@each $btn in $buttons {
  $btnName: nth($btn, 1);
  $btnColor: nth($btn, 2);
  $btnBg: nth($btn, 3);
  @include button($btnName, $btnColor, $btnBg);
}

@for $i from 1 through 65 {
  .fs-#{$i} {
    font-size: $i * 1px !important;
    font-size: $i * 0.1rem !important;
  }
}

.p-0 {
  padding: 0px !important;
}

$gutters: (mt, margin-top),
  (mb, margin-bottom),
  (ml, margin-left),
  (mr, margin-right),
  (m, margin),
  (pt, padding-top),
  (pb, padding-bottom),
  (pl, padding-left),
  (pr, padding-right),
  (p, padding),
  (t, top),
  (b, bottom),
  (l, left),
  (r, right);
@each $gu in $gutters {
  $guName: nth($gu, 1);
  $guAttr: nth($gu, 2);
  @include gutter($guName, $guAttr);
}

.text-default {
  color: $main !important;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success !important;
}

.text-warning {
  color: $warning !important;
}

.text-danger {
  color: $danger !important;
}

.container {
  width: 1366px !important;
}


.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

a {
  text-decoration: none !important;
  color: $main;
  &:hover {
    color: lighten($main, 30%);
  }
}

.cursor {
  cursor: pointer;
}

label {
  padding-top: 12px;
  height: 45px;
}
.form-control {
  width: 100%;
  height: 45px;
  background-color: $default;
  border: 1px solid #F5F5F5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
  &:focus {
    outline: 0;
  }
}
.input-group-addon {
  background-color: #B5D1EF;
  border: 1px solid $info;
  border-radius: 0px;
  color: $info;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition-property: border,background,color,box-shadow,padding;
}
.form-horizontal .control-label {
  text-align: left;
  padding-top: $margin;
}

.radio-custom {
  padding-left: 20px;
}
.radio-custom input[type=radio] {
  width: 25px;
  height: 25px;
  opacity: 0;
  z-index: 1;
}
.radio-custom label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 40px;
}
.radio-custom input[type=radio]:checked+label::before {
  border-color: #DDD;
  border-width: 10px;
}
.radio-primary input[type=radio]:checked+label::before {
  border-color: $info;
}
.radio-primary input[type=radio]:checked+label::after {
  border-color: #F5F5F5;
}
.radio-custom input[type=radio]:checked+label::after {
  @include transform(scale(1,1));
}
.radio-custom label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  border: 1px solid #DDD;
  border-radius: 50%;
  background-color: #F5F5F5;
}
.radio-custom {
  position: relative;
  display: block;
  margin-top: $margin;
  margin-bottom: $margin;
}
.radio-custom input[type=radio] {
  position: absolute;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.radio-custom label {
  min-height: 22px;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer;
}

// ------------------------- //
.wrapper {
  margin-top: $navsize;
  padding-top: 20vh;
}

// main navbar
$rms-height: 40px;
.rms-nav {
  background-color: $navbg;
  color: $main;
  position: relative;
  height: $rms-height;
  z-index: 90;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  &::before,&::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .rms-brand {
    float: left;
    margin-left: 0px;
    position: relative;
    z-index: 2;
    a {
      transition-property: transform;
      height: $rms-height;
      display: block;
      text-align: left;
      &::before {
        content: '';
        height: 100%;
        margin-right: 0;
      }
      .rms-logo-brand {
        width: auto;
        height: 25px;
        margin-top: 8px;
      }
    }
  }
  .main-rms-nav {
    float: right;
    height: $rms-height;
    .rms-items {
      display: table;
      width: 100%;
      .rms-item {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $main;
        text-decoration: none!important;
        font-size: 0;
        font-weight: 500;
        .rms-inner {
          position: relative;
          a {
            color: $main;
            height: $rms-height;
            display: block;
            border-bottom: 2px solid transparent;
            padding: 0 20px;
            position: relative;
            text-align: center;
            &::before {
              content: '';
              display: inline-block;
              height: 100%;
              vertical-align: middle;
              margin-right: 0;
            }
            &:hover {
              border-bottom: 2px solid $primary;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              white-space: nowrap;
              width: 95%;
              @include font-size(14);
              i {
                vertical-align: sub;
              }
            }
          }
        }
      }
    }
  }
}

// footer
$footer-height: 50px;
footer {
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: $margin + 5;
  background-color: $primary;
  color: #F5F5F5;
  //position: fixed;
}
// end footer

// panel
.panel {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0;
  &.bg-box {
    background-color: #EDF5FC;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  .panel-body {
    .bg-box-wh100 {
      position: absolute;
      width: 25%;
      height: 100%;
      right: 0;
      background-color: $default;;
    }
  }
}

// login
.header-login {
  width: 100%;
  height: $navsize;
  background-color: $navbg;
  position: relative;
  top: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  z-index: 1900;
  .login-logo {
    width: auto;
    height: $navsize;
    overflow: hidden;
    position: relative;
    text-align: center;
    .rms-logo {
      margin-top: $margin;
      height: 35px;
    }
  }
  .rms-login {
    width: 100%;
  }
}

.rms-login {
  .panel-default {
    background-color: $default;
    border: none;
    border-radius: 0;
    .panel-heading {
      background-color: $default;
      color: $main;
      text-align: center;
      padding: $margin * 2;
      border: none;
      span {
        @include font-size(18);
      }
    }
    .panel-body {
      .input-control {
        height: 55px;
        @include font-size(16);
        color: $main;
        background-color: #EEE;
        border: 1px solid #EEE;
        border-radius: 0;
        text-align: center;
      }
      .btn-login {
        width: 100%;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        @include font-size(18);
      }
    }
  }
}
// end login

// home
$nav-homesize: 50px;
.sub-rms {
  background-color: $primary;
  height: $nav-homesize;
  position: relative;
  overflow: hidden;
  .rms-head {
    background-color: $info;
    position: relative;
    color: $default;
    text-align: center;
    padding-top: $margin + 5;
    height: $nav-homesize;
    span {
      @include font-size(18);
    }
    .rms-btn {
      text-align: right;
      width: 100%;
      margin-top: -$margin * 3;
      .circle {
        position: relative;
        border-radius: 50%;
        @include font-size(22);
        font-weight: bold;
        width: 29px;
        height: 29px;
        margin-right: 5px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        i {
          position: absolute;
          @include font-size(22);
          text-align: center;
          right: 4px;
          top: 1px;
        }
      }
    }
  }
  .rms-task {
    background-color: $danger;
    height: $nav-homesize;
    text-align: center;
    padding-top: $margin + 5;
    color: $default;
    span {
      @include font-size(18);
    }
  }
}

.panel-default {
  .panel-heading {
    background-color: $default;
    @include font-size(18);
    font-weight: 500;
    border-color: $body-bg;
    a {
      text-decoration: none;
      i {
        @include font-size(24);
      }
    }
  }
  .panel-body {
    padding: 20px;
  }
}

.panel-building {
  background-color: #DEECFC;
  .panel-body {
    padding: 10px;
    .media {
      background-color: #DEECFC;
      .rms-building-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        background-color: $default;
        img {
          position: absolute;
          object-fit: cover;
          width: 100px;
          height: 100px;
        }
      }
      .rms-building {
        display: inline-block;
        position: relative;
        width: 100%;
        .rms-other {
          position: absolute;
          text-align: right;
          right: 0;
          top: 0;
          a {
            text-decoration: none;
            i {
              @include font-size(18);
            }
          }
        }
      }
      .rms-name-building {
        @include font-size(24);
        font-weight: 500;
      }
    }
  }
  .panel-footer {
    position: relative;
    padding: 0px !important;
    background-color: #FFF;
    border: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    .nav-building {
      position: relative;
      text-align: center;
      border: none;
      border-bottom: 1px solid $body-bg;
      height: 35px;
      ul {
        display: table;
        width: 100%;
        list-style: none;
        padding: 0px !important;
        li {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          &.active {
            a {
              background-color: transparent;
              border-color: transparent transparent $primary;
              color: $main;
            }
          }
          a {
            height: 35px;
            display: block;
            border-bottom: 3px solid transparent;
            padding: 6px 18px;
            text-align: center;
            @include font-size(14);
            @include transition(all 0.3s ease-in-out);
            text-decoration: none;
            color: $main;
            &:hover {
              background-color: transparent;
              border-color: transparent transparent $primary;
              color: $main;
            }
          }
        }
      }
    }
  }
}

.rms-building-all {
  .panel-heading {
    background-color: #F7F4F4;
    color: $main;
    i {
      color: $info;
    }
  }
  .panel-body {
    .list-group {
      margin-bottom: 0;
      .list-group-item {
        margin-bottom: 0px;
        border: none;
        border-bottom: 1px solid #DDD;
        &:first-child {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
        &:last-child {
          margin-bottom: 0;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        .media {
          .icon-default {
            @include circle(25px);
            background-color: #F7F4F4;
          }
          .media-body {
            .name-building {
              width: 100%;
              .rms-name-building {
                color: $main;
                display: block;
                width: 95%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0px;
              }
            }
            .rms-status-building {
              width: 100%;
              .text-status-rms {
                color: $main;
                display: block;
                width: 95%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0px;
                line-height: 3rem;
              }
            }
            .rms-building-date {
              width: 100%;
              .rms-status-date {
                color: $info;
                i {
                  @include font-size(22);
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
// end home

// building
.main-rms-subnav {
  background-color: $primary;
  height: 35px;
  .rms-items {
    display: table;
    width: 65%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    .rms-item {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $main;
      text-decoration: none!important;
      font-size: 0;
      font-weight: 500;
      background-color: #578DD9;
      border-left: 1px solid $primary;
      border-right: 1px solid $primary;
      .rms-inner {
        position: relative;
        .text-a-link {
          color: $default;
          height: 32px;
          display: block;
          padding: 0 20px;
          position: relative;
          text-align: center;
          &::before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: 0;
          }
          &:hover {
            background-color: $body-bg;
            color: $primary;
          }
          &.active {
            background-color: $body-bg;
            color: $primary;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            width: 95%;
            @include font-size(14);
          }
        }
        .subs-items-rms {
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;
          left: -1px;
          top: 100%;
          width: 180px;
          text-align: left;
          @include font-size(14);
          opacity: 0;
          visibility: hidden;
          transition-property: all;
          & {
            transition-duration: .2s;
            transition-timing-function: ease;
            transition-delay: 0s;
          }
          >.subs-item-rms {
            display: block;
            a {
              text-align: center;
              text-decoration: none;
              display: block;
              border-top: 2px solid transparent;
              border-bottom: 1px solid $primary;
              padding: 5px 8px 5px;
              background-color: $info;
              color: $default;
              position: relative;
              z-index: 1;
              transition: none;
              &:hover {
                background-color: darken(#DCE9F5, 10%);
                color: #4079BC;
              }
            }
          }
        }
        &:hover {
          .subs-items-rms {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
#select-rms-building {
  padding-top: $margin * 2;
}
.sub-rms-banner {
  background-color: $primary;
  height: 100px;
  padding-top: $margin * 2;
  .rms-head {
    .building-rms {
      width: 100%;
      span {
        @include font-size(16);
        color: $warning;
      }
    }
    .building-rms-name {
      width: 100%;
      span {
        @include font-size(32);
        color: $default;
        font-weight: 600;
      }
    }
  }
}

.panel-warning {
  background-color: #F3CA7C;
  height: 40px;
  .panel-body {
    text-align: center;
    padding: 10px;
    span {
      @include font-size(18);
      text-transform: uppercase;
      color: darken($warning, 40%);
      font-weight: bold;
    }
  }
}
.building-rms-card {
  background-color: #B5D1EF;
  border: none;
  border-radius: 0;
  height: 100px;
}
.card {
  border: none;
  border-radius: 0;
  z-index: 0;
  .card-block {
    padding-bottom: 3px !important;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &.RMS {
      height: calc(100px - 15px);
      .rms-room-detail2 {
        position: relative;
        display: inline-block;
        width: 100%;
        span.rms-status-b {
          @include font-size(16);
          font-weight: 700;
          color: $primary;
          i {
            @include font-size(22);
            color: $primary;
          }
        }
      }
    }
    .rms-roomno {
      font-weight: bold;
      @include font-size(16);
    }
    .rms-room-detail {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    .rms-member-status {
      position: absolute;
      width: 100%;
      text-align: right;
      top: 0;
      img {
        background-color: $default;
        @include circle(25px);
      }
      .rms-owe-icon {
        position: relative;
        &:hover {
          &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-top: 10px solid #F5F5F5;
            border-right: 5px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 5px solid transparent;
            top: 15px;
            right: 7px;
            @include transform(rotate(180deg));
          }
        }
      }
      .rms-cleaning-icon {
        position: relative;
        &:hover {
          &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-top: 10px solid #F5F5F5;
            border-right: 5px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 5px solid transparent;
            top: 15px;
            right: 7px;
            @include transform(rotate(180deg));
          }
        }
      }
      .rms-setting-icon {
        position: relative;
        &:hover {
          &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-top: 10px solid #F5F5F5;
            border-right: 5px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 5px solid transparent;
            top: 15px;
            right: 7px;
            @include transform(rotate(180deg));
          }
        }
      }
    }
    .rms-member-img {
      width: 30px;
      height: 30px;
      overflow: hidden;
      position: relative;
      background-color: $default;
      img {
        position: absolute;
        object-fit: cover;
        width: 30px;
        height: 30px;
      }
    }
  }
  .rms-status {
    text-align: center;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 0;
    &.box-success {
      background-color: $success;
      span {
        @include font-size(14);
        color: darken($success, 30%);
        font-weight: bold;
      }
    }
    &.box-danger {
      background-color: $danger;
      span {
        @include font-size(14);
        color: darken($danger, 30%);
        font-weight: bold;
      }
    }
    span {
      @include font-size(14);
      color: $default;
      font-weight: bold;
    }
  }
  .box-status {
    width: 100%;
    background-color: #F5F5F5;
    padding: 5px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    text-align: center;
    span {
      color: $main;
    }
  }
}
// end building

// setting info
#page-rms {
  padding: 20px;
  a {
    color: darken($body-bg, 20%);
    @include font-size(24);
    text-decoration: none;
    i {
      @include font-size(24);
      color: darken($body-bg, 20%);
    }
  }
}
.setting {
  background-color: #F5F5F5;
  position: relative;
  .bg-rms-menu {
    position: absolute;
    width: calc(25% - 15px - 12px);
    height: 100%;
    background-color: $nav-box-color;
  }
  .nav-stacked {
    border-radius: 0;
    background-color: $nav-box-color;
    li {
      &.active {
        background-color: lighten($info, 5%);
        color: $default !important;
      }
      &.active {
        &::after {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          border-top: 20px solid #F5F5F5;
          border-right: 10px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid transparent;
          top: 0px;
          right: 7px;
          @include transform(rotate(90deg));
        }
        a {
          background-color: lighten($info, 5%);
          color: $default !important;
        }
      }
      a {
        border: none;
        border-radius: 0;
        color: darken($info, 2%);
        font-weight: 700;
        &:hover {
          background-color: lighten($info, 5%) !important;
          color: $default;
        }
      }
    }
  }
  .card {
    background-color: #F5F5F5;
    .card-block {
      padding-left: 0;
      width: 100%;
      span {
        color: $info;
        @include font-size(18);
        font-weight: 500;
      }
      a.circle {
        position: relative;
        border-radius: 50%;
        @include font-size(22);
        font-weight: bold;
        width: 29px;
        height: 29px;
        margin-right: 5px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        i {
          position: absolute;
          @include font-size(22);
          text-align: center;
          right: 4px;
          top: 1px;
        }
      }
    }
  }
  .box-bule {
    background-color: $default;
    .panel-heading {
      background-color: $primary;
      color: $default;
      span {
        @include font-size(16);
      }
    }
  }
  .rms-setting-box {
    .setting-thumb {
      position: relative;
      &:hover {
        .setting-thumb-link {
          &::after {
            opacity: 1;
          }
          .second-image {
            opacity: 1;
            @include transform(rotateY(0deg));
          }
        }
        .del-link {
          opacity: 1;
          @include transform(scale(1));
        }
      }
      .setting-thumb-link {
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
          width: 100%;
          height: 100%;
          background: rgba(87, 141, 217, 0.56);
          opacity: 0;
          @include transition(all 0.3s ease-out 0s);
        }
        img {
          max-width: 100%;
          &.first-image {
            opacity: 1;
            @include transition(all 0.3s ease-out 0s);
            @include transform(rotateY(0deg));
          }
          &.second-image {
            left: 0;
            position: absolute;
            top: 0;
            opacity: 0;
            @include transition(all 0.3s ease-out 0s);
            @include transform(rotateY(90deg));
          }
        }
      }
      .del-link {
        position: absolute;
        display: block;
        color: $default;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $danger;
        bottom: 0;
        width: 100%;
        padding: $margin;
        z-index: 99;
        @include transition(all 0.3s ease-out 0s);
        @include transform(scale(0));
        i {
          @include font-size(18);
          color: darken($danger, 20%);
        }
      }
    }
  }
  .image-add {
    background-color: #B5D1EF;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    &:first-child {
      .add-img-rms {
        &::after {
          content: "\ea0a";
          position: absolute;
          font-family: 'IcoMoon-Free' !important;
          @include font-size(18);
          top: 10px;
          right: 10px;
          color: $primary;
        }
      }
    }
    img {
      position: absolute;
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
  }
  .num-room {
    position: relative;
    width: 70%;
    height: 45px;
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include font-size(16);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    overflow: hidden;
    .section-rms {
      position: absolute;
      left: 10px;
      top: 13px;
    }
    .form-control {
      width: 200px;
      text-align: center;
      border: none;
      box-shadow: none;
      margin: auto;
    }
    .room-text {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }
  .hover {
    position: relative;
    overflow: hidden;
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 45px;
    @include font-size(16);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    &:hover {
      background-color: lighten($info, 10%);
      .card-block {
        span {
          color: $default;
        }
        .rms-check {
          &::after {
            position: absolute;
            content: "\f17c";
            font-family: "LineAwesome";
            @include font-size(28);
            right: 5px;
            top: 0;
            color: $primary;
          }
        }
      }
    }
    .card-block {
      &.active {
        background-color: lighten($info, 10%);
        width: 100%;
        span {
          color: $default;
        }
        .rms-check {
          &::after {
            position: absolute;
            content: "\f17c";
            font-family: "LineAwesome";
            @include font-size(28);
            right: 5px;
            top: 0;
            color: $default;
          }
        }
      }
      padding: $margin;
      span {
        color: $main;
        @include font-size(14);
        font-weight: 400;
      }
    }
  }
  .rms-check-input {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include font-size(16);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    overflow: hidden;
    .form-control {
      max-width: 100px;
      text-align: right;
      border: none;
      box-shadow: none;
    }
    .bath-text {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }
  .class-rooms {
    box-shadow: none;
    .panel-heading {
      background-color: $warning;
      color: $main;
      @include font-size(14);
      font-weight: 300;
      text-align: center;
    }
    .list-group {
      .list-group-item {
        border: none;
        text-align: center;
        background-color: #F5F5F5;
        &:hover,&.active {
          background-color: #F5F5F5;
          span {
            background-color: $warning;
            @include circle(20px);
          }
        }
      }
    }
  }
  .table-striped {
    thead {
      background-color: $primary;
      color: $default;
      tr {
        >th {
          height: 40px;
          &:first-child {
            text-align: center;
            width: 8%;
            margin-left: 50%;
          }
        }
      }
    }
    tbody {
      tr {
        background-color: $default;
        &:nth-last-of-type(odd) {
          background-color: darken($default, 1%);
        }
        td {
          &:first-child {
            text-align: center;
            width: 8%;
            margin-left: 50%;
          }
          &:last-child {
            width: 15%;
            position: relative;
            .rms-tabel-edit {
              text-decoration: none;
              &::after {
                content: "\f1c1";
                position: absolute;
                @include font-size(22);
                font-family: 'LineAwesome';
                margin-left: 50%;
                top: 0px;
              }
            }
          }
          &:nth-child(2) {
            .color-circle {
              @include circle(20px);
            }
          }
        }
      }
    }
  }
}
// end setting

// overview
.overview-rms {
  .card {
    .card-block {
      span {
        @include font-size(36);
        font-weight: bold;
        color: $primary;
      }
    }
  }
  .rms-money {
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    position: relative;
    margin-top: 2px;
    &.success {
      &::after {
        content: "\f294";
        position: absolute;
        font-family: 'LineAwesome';
        @include font-size(65);
        left: 15px;
        top: 0px;
        color: darken($success, 5%);
      }
      .media-body {
        p {
          color: darken($success, 5%);
        }
        h3 {
          color: darken($success, 5%);
          small {
            color: darken($success, 5%);
          }
        }
      }
    }
    &.warning {
      &::after {
        content: "\f294";
        position: absolute;
        font-family: 'LineAwesome';
        @include font-size(65);
        left: 15px;
        top: 0px;
        color: darken($warning, 5%);
      }
      .media-body {
        p {
          color: darken($warning, 5%);
        }
        h3 {
          color: darken($warning, 5%);
          small {
            color: darken($warning, 5%);
          }
        }
      }
    }
    &.danger {
      &::after {
        content: "\f294";
        position: absolute;
        font-family: 'LineAwesome';
        @include font-size(65);
        left: 15px;
        top: 0px;
        color: darken($danger, 5%);
      }
      .media-body {
        p {
          color: darken($danger, 5%);
        }
        h3 {
          color: darken($danger, 5%);
          small {
            color: darken($danger, 5%);
          }
        }
      }
    }
    &::after {
      content: "\f294";
      position: absolute;
      font-family: 'LineAwesome';
      @include font-size(65);
      left: 15px;
      top: 0px;
      color: darken($nav-box-color, 30%);
    }
    .media-body {
      padding-left: 0;
      padding-right: $margin * 2;
      padding-top: $margin;
      padding-bottom: $margin;
      p {
        color: darken($nav-box-color, 35%);
        @include font-size(16);
        font-weight: bold;
        text-align: right;
      }
      h3 {
        color: darken($nav-box-color, 35%);
        font-weight: bold;
        text-align: right;
        small {
          color: darken($nav-box-color, 35%);
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
  .rms-count {
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    position: relative;
    padding: $margin * 2;
    margin-bottom: $margin * 4;
    .media-left {
      text-align: center;
      margin: auto;
      width: 50%;
      i {
        color: lighten($main, 50%);
        @include font-size(65);
      }
      span {
        color: lighten($main, 50%);
        @include font-size(14);
      }
    }
    .media-body {
      text-align: right;
      span {
        @include font-size(65);
        color: lighten($main, 50%);
      }
    }
  }
}

.charts-rms {
  margin-top: $margin * 2;
  .card {
    .card-block {
      span {
        @include font-size(36);
        font-weight: bold;
        color: $primary;
      }
    }
  }
  .rms-card {
    position: relative;
    height: 400px;
    text-align: right;
    &.success {
      background-color: $success;
    }
    &.warning {
      background-color: $warning;
    }
    .rms-report {
      width: 100%;
      display: block;
      i {
        @include font-size(18);
      }
    }
    .card-block {

    }
  }
  .rms-charts-box {
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include font-size(16);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    padding: $margin;
    &.success {
      background-color: $success;
      .media-body {
        p {
          color: darken($success, 30%);
        }
        span {
          @include font-size(18);
          font-weight: bold;
          color: darken($success, 30%);
        }
      }
    }
    &.warning {
      background-color: $warning;
      .media-body {
        p {
          color: darken($warning, 30%);
        }
        span {
          @include font-size(18);
          font-weight: bold;
          color: darken($warning, 30%);
        }
      }
    }
  }
}



// Rms Modal
.Modal-backdrop {
  opacity: .8;
  background-color: $main;
  position: fixed;
  @include tlrb;
  z-index: 1040;
}
.Modal-holder2 {
  position: fixed;
  @include tlrb;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .Modal-Dialog {
    position: relative;
    margin: auto;
    margin-top: $margin * 5;
    margin-bottom: $margin * 5;
    width: $width-main;
    & {
      @include transform(translate(0,0));
    }
    .Modal-Content {
      min-height: 100%;
      width: 100%;
      border-radius: 0;
      position: relative;
      background-color: #F5F5F5;
      border: none !important;
      .modal-header-main {
        background-color: $default;
        position: relative;
        text-align: center;
        height: 85px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
        .close-modal {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 15px;
          right: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          z-index: 1920;
          &.closed, &:hover {
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: 1;
          }
          .bar {
            width: 20px;
            height: 2px;
            border-radius: 2px;
            background-color: $primary;
            display: inline-block;
            position: absolute;
            left: 0;
          }
          .top-bar {
            @include transform(rotate(45deg));
          }
          .bottom-bar {
            @include transform(rotate(-45deg));
          }
        }
        .rms-nav-modal {
          background-color: $default;
          color: $main;
          position: relative;
          height: $rms-height;
          z-index: 90;
          top: 45px;
          &::before,&::after {
            content: " ";
            display: table;
          }
          &::after {
            clear: both;
          }
          .rms-brand {
            float: left;
            margin-left: 10px;
            position: relative;
            z-index: 2;
            a {
              color: $main;
              height: $rms-height;
              display: block;
              border-bottom: 4px solid transparent;
              padding: 0 20px;
              position: relative;
              text-align: center;
              &::before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                margin-right: 0;
              }
              &:hover {
                border-bottom: 4px solid $primary;
              }
              span {
                color: $info;
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
                width: 95%;
                font-weight: 700;
                @include font-size(18);
                i {
                  vertical-align: sub;
                }
              }
            }
          }
          .main-rms-nav {
            float: right;
            height: $rms-height;
            .rms-items {
              display: table;
              width: 100%;
              .rms-item {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: $main;
                text-decoration: none!important;
                font-size: 0;
                font-weight: 500;
                .rms-inner {
                  position: relative;
                  a {
                    color: $main;
                    height: $rms-height;
                    display: block;
                    border-bottom: 4px solid transparent;
                    padding: 0 20px;
                    position: relative;
                    text-align: center;
                    &::before {
                      content: '';
                      display: inline-block;
                      height: 100%;
                      vertical-align: middle;
                      margin-right: 0;
                    }
                    &:hover {
                      border-bottom: 4px solid $primary;
                    }
                    span {
                      display: inline-block;
                      vertical-align: middle;
                      white-space: nowrap;
                      width: 95%;
                      @include font-size(14);
                      i {
                        vertical-align: sub;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.Modal-Body {
  position: relative;
  padding: 15px;
  overflow: hidden;
  .card {
    .card-block {
      background-color: #F5F5F5;
      position: relative;
      .bg-box-left {
        background-color: $default;
        height: 100%;
        width: calc((41.66666667% - 15px) - 12px);
        position: absolute;
      }
    }
  }
  .box-default-left {
    box-shadow: none;
    .panel-heading {
      background-color: #578DD9;
      border-radius: 0;
      .rms-text-head {
        width: 100%;
        .rms-title {
          display: inline-block;
          @include font-size(14);
          font-weight: 500;
          color: #F5F5F5;
          width: 40%;
        }
        .rms-data-text {
          display: inline-block;
          @include font-size(14);
          font-weight: 300;
          color: #F5F5F5;
          width: 45%;
        }
      }
    }
    .panel-body {
      .text-head-b {
        text-align: left;
        @include font-size(16);
        font-weight: 500;
        color: $primary;
      }
    }
  }
  .hover {
    position: relative;
    overflow: hidden;
    background-color: $default;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 35px;
    @include font-size(14);
    @include transition(all .2s linear);
    transition-property: border,background,color,box-shadow,padding;
    .card-block {
      background-color: $default;
      .rms-check {
        &::after {
          position: absolute;
          content: "\f17c";
          font-family: "LineAwesome";
          @include font-size(22);
          right: 0;
          top: 0;
          color: $success;
        }
      }
      padding: 5px;
      span {
        color: $main;
        @include font-size(14);
        font-weight: 400;
      }
    }
  }
  .box-default-right {
    box-shadow: none;
    .panel-heading {
      background-color: #578DD9;
      border-radius: 0;
      .rms-text-head {
        width: 100%;
        .rms-title {
          display: inline-block;
          @include font-size(16);
          font-weight: 500;
          color: darken($info, 10%);
          width: 88%;
          i {
            color: darken($info, 10%);
            margin-left: $margin;
            @include font-size(22);
          }
        }
        .rms-data-text {
          display: inline-block;
          width: 10%;
          color: darken($info, 10%);
          text-align: right;
          i {
            color: darken($info, 10%);
            margin-left: $margin;
            @include font-size(22);
          }
        }
      }
    }
  }
}
// Modal-holder1
.Modal-holder1 {
  position: fixed;
  @include tlrb;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .Modal-Dialog {
    position: relative;
    margin: auto;
    margin-top: $margin * 5;
    margin-bottom: $margin * 5;
    width: $width-main;
    & {
      @include transform(translate(0,0));
    }
    .Modal-Content {
      min-height: 100%;
      width: 100%;
      border-radius: 0;
      position: relative;
      background-color: #F5F5F5;
      border: none !important;
      .modal-header-main {
        background-color: $primary;
        position: relative;
        text-align: left;
        height: 45px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
        .close-modal {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 20px;
          right: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          z-index: 1920;
          &.closed, &:hover {
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: 1;
          }
          .bar {
            width: 20px;
            height: 2px;
            border-radius: 2px;
            background-color: $default;
            display: inline-block;
            position: absolute;
            left: 0;
          }
          .top-bar {
            @include transform(rotate(45deg));
          }
          .bottom-bar {
            @include transform(rotate(-45deg));
          }
        }
        span {
          @include font-size(18);
          color: $default;
          text-align: left;
        }
      }
      .Modal-Body {
        position: relative;
        padding: 15px;
        overflow: hidden;
        .rms-text-head {
          width: 100%;
          .rms-title {
            display: inline-block;
            @include font-size(14);
            font-weight: 500;
            color: $main;
            width: 40%;
          }
          .rms-data-text {
            display: inline-block;
            @include font-size(14);
            font-weight: 300;
            color: $main;
            width: 45%;
          }
        }
      }
    }
  }
}

// Modal-holder3
.Modal-holder3 {
  position: fixed;
  @include tlrb;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .Modal-Dialog {
    position: relative;
    margin: auto;
    margin-top: $margin * 7;
    margin-bottom: $margin * 5;
    width: 700px;
    & {
      @include transform(translate(0,0));
    }
    .Modal-Content {
      min-height: 100%;
      width: 100%;
      border-radius: 0;
      position: relative;
      background-color: #F5F5F5;
      border: none !important;
      .modal-header-main {
        background-color: $primary;
        position: relative;
        text-align: left;
        height: 45px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
        .close-modal {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 20px;
          right: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          z-index: 1920;
          &.closed, &:hover {
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: 1;
          }
          .bar {
            width: 20px;
            height: 2px;
            border-radius: 2px;
            background-color: $default;
            display: inline-block;
            position: absolute;
            left: 0;
          }
          .top-bar {
            @include transform(rotate(45deg));
          }
          .bottom-bar {
            @include transform(rotate(-45deg));
          }
        }
        span {
          @include font-size(18);
          color: $default;
          text-align: left;
        }
      }
      .Modal-Body {
        position: relative;
        padding: 15px;
        overflow: hidden;
        .rms-text-head {
          width: 100%;
          .rms-title {
            display: inline-block;
            @include font-size(14);
            font-weight: 500;
            color: $main;
            width: 40%;
          }
          .rms-data-text {
            display: inline-block;
            @include font-size(14);
            font-weight: 300;
            color: $main;
            width: 45%;
          }
        }
        .setting-thumb {
          position: relative;
          &:hover {
            .setting-thumb-link {
              &::after {
                opacity: 1;
              }
              .second-image {
                opacity: 1;
                @include transform(rotateY(0deg));
              }
            }
            .del-link {
              opacity: 1;
              @include transform(scale(1));
            }
          }
          .setting-thumb-link {
            display: block;
            overflow: hidden;
            position: relative;
            text-align: center;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              z-index: 9;
              width: 100%;
              height: 100%;
              background: rgba(87, 141, 217, 0.56);
              opacity: 0;
              @include transition(all 0.3s ease-out 0s);
            }
            img {
              max-width: 100%;
              &.first-image {
                opacity: 1;
                @include transition(all 0.3s ease-out 0s);
                @include transform(rotateY(0deg));
              }
              &.second-image {
                left: 0;
                position: absolute;
                top: 0;
                opacity: 0;
                @include transition(all 0.3s ease-out 0s);
                @include transform(rotateY(90deg));
              }
            }
          }
          .del-link {
            position: absolute;
            display: block;
            color: $default;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $danger;
            bottom: 0;
            width: 100%;
            padding: $margin;
            z-index: 99;
            @include transition(all 0.3s ease-out 0s);
            @include transform(scale(0));
            i {
              @include font-size(18);
              color: darken($danger, 20%);
            }
          }
        }
      }
    }
  }
}
.modal-backdrop {
  background-color: $primary;
  &.in {
    opacity: .8;
  }
}
.table-striped {
  tbody {
    tr {
      background-color: $default;
      &:nth-last-of-type(odd) {
        background-color: $default;
      }
      td {
        &:first-child {
          width: 50%;
          text-align: left;
        }
        &:last-child {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
}
.table-condensed {
  >tbody>tr>td {
    border: none;
  }
}

// แก้ไข DX
dx-text-box.form-control {
  width: 100%;
  height: 45px;
  background-color: $default;
  border: 1px solid #F5F5F5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
  &:focus {
    outline: 0 !important;
    border-color: #F5F5F5 !important;
  }
}
dx-select-box {
  width: 100% !important;
  height: 45px !important;
  background-color: $default;
  border: 1px solid #F5F5F5 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
  &:focus {
    outline: 0 !important;
    border-color: #F5F5F5 !important;
  }
}

.dx-field-value {
  width: 100% !important;
}

.dx-texteditor {
  width: 100%;
  height: 45px;
  background-color: $default;
  border: 1px solid #F5F5F5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
  &:focus {
    outline: 0 !important;
    border-color: #F5F5F5 !important;
  }
}
.bahtBox {
  height: 45px !important;
  background-color: #F5F5F5 !important;
  border: 1px solid #F5F5F5 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
}

dx-text-area.form-control {
  width: 100%;
  background-color: $default;
  border: 1px solid #F5F5F5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  @include font-size(16);
  @include transition(all .2s linear);
  transition-property: border,background,color,box-shadow,padding;
  &:focus {
    outline: 0 !important;
    border-color: #F5F5F5 !important;
  }
  &.dx-texteditor.dx-stute-focused {
    outline: 0 !important;
    border-color: #F5F5F5 !important;
  }
}

.rms-tel {
  dx-form {
    .dx-label-h-align {
      align-items: stretch !important;
    }
    .dx-field-item-label-location-left {
      padding-right: 0px;
    }
    .dx-texteditor {
      width: 100%;
      height: 45px;
      background-color: $default;
      border: 1px solid #F5F5F5;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
      @include font-size(16);
      @include transition(all .2s linear);
      transition-property: border,background,color,box-shadow,padding;
      &:focus {
        outline: 0;
      }
    }
  }
  dx-button {
  }
}
.bahtBox {
  float: none !important;
}

dx-file-uploader {
  .dx-button {
    float: none;
    background-color: $primary;
    color: $default;
    border: 1px solid $primary;
    text-transform: capitalize;
    padding: 6px 12px;
    @include font-size(14);
    border-radius: 0px;
    &:hover,
    &:focus,
    &:active,
    &:active:hover {
      background-color: darken($primary, 8%);
      border-color: darken($primary, 8%);
      color: $default;
      outline: none;
    }
  }
}
