<h3>แจ้งเตือนรหัสผ่านสมาชิก Marukyo</h3><br/>
เราได้รับคำร้องขอสมาชิก Marukyo จากผู้ใช้งาน
<ul>
  <li>Email: <%=email%></li>
  <li>Username: <%=username%></li>
</ul>
ท่านสามารถตั้งรหัสผ่านใหม่สำหรับการใช้งานได้โดย
<b><a href="<%=url_reset%>">คลิกที่นี่</a></b>
<br/>
<br/>
<font color="red"><b>หมายเหตุ : </b>การตั้งรหัสผ่าน สามารถทำได้เพียงครั้งเดียว หลังจากนั้นลิงก์จะหมดอายุ</font>
<br/>
<br/>
<br/>
ขอบคุณค่ะ
<br/>
<b>Marukyo</b>
